@mixin md {
  @media screen and (min-width: 640px) {
    @content;
  }
}

:root {
  font-family: "Archivo", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --swiper-navigation-color: #bd3fbf;
  --swiper-pagination-color: #bd3fbf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$darker-blue: #0c0f40;
$dark-blue: #0c0f40;
$dark-purple: #0c0f40;
$purple: #4417a6;
$pink: #bd3fbf;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: linear-gradient(200deg, #281765 0%, #0e1336 50%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  // overflow: hidden;
}

main {
  max-width: 1500px;
  position: relative;
  padding: 1rem;
  width: 90%;
  margin: 0;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 80px;
  @include md {
    font-size: 100px;
  }
}

h2 {
  color: white;
  font-weight: 900;
  font-size: 50px;
  @include md {
    font-size: 70px;
  }
}

h3 {
  color: $pink;
  font-size: 22px;
  margin-bottom: 1rem;
  @include md {
    font-size: 32px;
    margin: none;
  }
  font-weight: 900;
}

.menu-show {
  display: flex !important;
}

.hide-button {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1500px;
  @include md {
    justify-content: space-between;
  }
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  font-weight: 900;
  &__actions {
    flex: 1;
    display: flex;
    justify-content: space-between;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      @include md {
        display: none;
      }
    }
  }
  &__items {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    @include md {
      flex-direction: row;
      width: auto;
      display: flex;
    }

    div {
      padding: 1rem;
      @include md {
        padding: 1rem 2rem 1rem 2rem;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.hover-bg-effect {
  background-image: linear-gradient($pink 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 50%;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;

  &:hover {
    background-position: 100% 100%;
    background-size: 100% 50%;
  }
}

.logo-path {
  stroke: $pink;
  stroke-width: 3px;
  fill: white;
  stroke-dasharray: 500;
  stroke-dashoffset: -500;
  animation: animate 5s forwards infinite;
}

@keyframes animate {
  100% {
    stroke-dashoffset: 500;
  }
}

#contact-button {
  border: 2px solid rgba(255, 255, 255, 0.109);
  border-radius: 10px;
  padding: 0.75rem 1rem 0.75rem 1rem;
  @include md {
    padding: 0.75rem 2rem 0.75rem 2rem;
  }
  &:hover {
    color: white;
    border-color: white;
  }
}

section {
  margin-top: 8rem;
}

#job-title {
  background: linear-gradient(300deg,deepskyblue,darkviolet,deepskyblue);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#banner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-top: 0;

  h1 {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  .profile-image {
    @include md {
      margin-right: 3rem;
    }
  }
  .banner-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include md {
      justify-content: space-between;
    }

    a {
      color: $purple;
      margin: 0 1rem 0 1rem;
      &:hover {
        color: white;
      }
    }
    div {
      display: flex;
      align-items: center;
    }
  }
  #banner-triangle {
    top: 0;
    left: 25%;
    animation: rotation 10s infinite linear;
  }
  #banner-hexagon {
    top: 15%;
    right: 0%;
    animation: rotation 20s infinite linear;
  }
  #banner-wave {
    top: 80%;
    right: 25%;
    animation: rotation 40s infinite linear;
  }
}

#projects {
  .section-title-container {
    max-width: 370px;
    img {
      animation: pulse-small 1s infinite ease alternate;
    }
  }
}

#techstack {
  .section-title-container {
    max-width: 500px;
    .wave-container {
      position: absolute;
      width: 300px;
      height: 200px;
      overflow-x: hidden;
      top: -60%;
      right: 30%;
      img {
        top: 0;
        right: 10%;
        animation: move-horizontal 3s infinite ease alternate;
      }
    }
  }
}

#posts {
  position: relative;
  .section-title-container {
    max-width: 220px;
    img {
      animation: rotation 5s infinite;
    }
  }
}

#contact {
  position: relative;
  .section-title-container {
    max-width: 320px;
    img {
      animation: rotation 5s infinite;
    }
  }

  .socmeds {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;

    a {
      color: $purple;
      &:hover {
        color: white;
      }
      &:hover img {
        opacity: 1;
      }
      margin: 1rem;
      display: flex;
      p {
        text-decoration: none;
        font-weight: 900;
        margin-left: 1rem;
        color: white;
      }
    }
  }
}

.socmed-arrow {
  margin-left: 2rem;
  animation: move-horizontal-big 0.5s infinite ease alternate;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.section-title-container {
  position: relative;
  img {
    top: -50%;
    right: 0;
  }
}

.projects {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__card {
    width: 100%;
    max-width: 562px;
    height: 350px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 1rem;

    @include md {
      height: 217;
      margin: 2rem;
    }

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      @include md {
        width: 100%;
      }
    }
    &:hover {
      border-color: white;
    }
    &:hover &__details {
      transform: translateY(0%);
    }
    &__details {
      transform: translateY(100%);
      transition: 0.5s ease;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #0c0f40e7 40%, $darker-blue 100%);
      padding: 0.5rem;
      @include md {
        padding: 1rem;
      }

      .card-title {
        font-size: 32px;
        color: white;
      }
      .card-techstack-text {
        font-weight: 900;
        font-size: 13px;
        color: $pink;
        margin-top: 1rem;
      }
      .card-description {
        color: white;
        line-height: 150%;
        margin: 2rem 0.5rem 1rem 0.5rem;
      }
      .card-company {
        color: rgba(255, 255, 255, 0.458);
        font-style: italic;
        font-size: 0.75rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.project-filter {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
  button {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.248);
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
    &:hover {
      border-color: white;
    }
  }
  .selected {
    background-color: white;
    color: $dark-blue;
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 0.5rem;
  height: 100%;

  &__image {
    background-color: rgb(91, 87, 87);
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 0.5rem;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    &__tag {
      display: flex;
      justify-content: start;
      margin-bottom: 1rem;
      div {
        font-size: 12px;
        max-width: 100px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.113);
      }
    }
    &__title {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 900;
      color: $dark-purple;

      &:hover {
        color: $pink;
        svg {
          color: $pink;
        }
      }
      svg {
        color: rgba(0, 0, 0, 0.159);
        margin-left: 1rem;
      }
    }
    &__description {
      margin-top: 1rem;
      color: rgb(72, 72, 72);
      line-height: 150%;
    }
  }
}

.swiper-slide {
  background-color: transparent;
  height: 100%;
}

.swiper {
  width: 100%;
  margin-top: 2rem;
}

.techstacks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include md {
    margin: 2rem;
  }
  .techstack {
    margin: 1rem;
    margin-bottom: 2rem;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    text-align: center;
    height: 200px;
    width: 100px;
    max-height: 150px;
    cursor: auto;

    a {
      text-decoration: none;
      text-decoration-color: white;
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      object-fit: contain;
      object-position: center;
      height: 100%;
      width: 100%;
      filter: grayscale(1);
    }
    .title {
      color: rgba(255, 255, 255, 0.5);
      margin-top: 1rem;
      padding-top: 10px;
      font-weight: 900;
    }
    &:hover img {
      filter: grayscale(0);
    }
    &:hover .title {
      color: white;
    }
  }
}

.tech-pills {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  @include md {
    margin: 1rem;
  }
  .tech-pill {
    display: flex;
    justify-content: space-around;
    min-width: 85px;
    height: 26px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    .tech-pill-image {
      width: 20px;
      height: 20px;
      overflow: hidden;
      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

#gradient-glow {
  width: 280px;
  height: 248px;
  left: 15%;
  top: 10%;
  background: radial-gradient(50% 50% at 50% 50%, #ba3db2 0%, #623ae9 57.29%, #0C0F40 100%);
  position: fixed;
}

#gradient-dim {
  bottom: 0;
  right: 0;
  width: 542px;
  height: 547px;
  background: radial-gradient(56.11% 56.11% at 49.98% 43.89%, #3d2397 0%, rgba(186, 61, 178, 0) 85.42%);
  mix-blend-mode: soft-light;
  opacity: 80%;
  position: fixed;
}

.background-images {
  position: absolute;
  z-index: -1;
}

.bg-gradient {
  animation: pulse 1s infinite ease alternate;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: $dark-blue;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: radial-gradient(56.11% 56.11% at 49.98% 43.89%, #3d2397 0%, rgba(186, 61, 178, 0) 85.42%);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -1;
}

#awards {
  position: relative;
  .section-title-container {
    max-width: 1000px;
    img {
      animation: rotation 5s infinite;
    }
  }
}

#awards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  .award-item {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      right: 0;
      height: 150px;
      width: 150px;
      z-index: 0;
    }
    .contents {
      color: white;
      z-index: 99;
      text-align: center;
      padding: 5px;
      .title {
        font-weight: 900;
        margin-bottom: 1rem;
      }
    }
  }
}
#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(12vmax);
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes pulse-small {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes move-horizontal {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(20%);
  }
}

@keyframes move-horizontal-big {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#circle-wave-big {
  position: absolute;
  top: 120%;
  right: 10%;
  // animation: rotation 300s ease infinite;
}

footer {
  font-size: 0.75rem;
  margin-top: auto;
  margin-bottom: 0;
  color: white;
  padding: 1rem;
}
